.App__content____Home {
  background-color: greenyellow;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.App__content____Image {
  width: 500px;
  height: 500px;
  align-self: center;
}
